* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#game-app {
    border: none;
    width: 100%;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#game-app > canvas {
    border: none;
}