* {
    box-sizing: border-box;
}
body {
    margin: 0;
    width: 100%;
    height: 100vh;
}

#game-app {
    border: none;
    width: 100%;
    height: inherit;
    overflow: hidden;
}
#game-app > canvas {
    border: none;
}